* {
	font-family: 'Gloria Hallelujah', cursive;
}

h1 {
	margin-left: 535px;
}
section {

	height: 400px;
	max-width: 100%;
	background-color: #e1e1e1;
	margin-top: 130px;
}

#prvi{
	position: relative;
	display:inline-block;
	margin-top: 50px;
	margin-left: 10%;
	height:191px;
	width: 275px;
	border:solid 1px black;
	 background:url('http://vignette2.wikia.nocookie.net/pokemon/images/e/ef/025Pikachu_Pokemon_Mystery_Dungeon_Red_and_Blue_Rescue_Teams.png/revision/latest?cb=20150105233050')
	 no-repeat center;
     /*background-size:cover;*/
     background-size: 100px 100px;
     background-position: top;
}

.krug{
	width:40px;
	height:40px;
	border-radius: 50%;
	background-color: white;
	position:absolute;
	margin-top:89px;
	margin-left:116px;
}
.dole{
	font-size: 10px;
	margin-top:110px;
	margin-bottom: 10px;
	background-color: white;
	position: absolute;
	height: 81px;
}

.fa-bolt{
	color: yellow;
	margin-top: 4px;
	margin-left:16px;
}
	#drugi{
	position: relative;
	display:inline-block;
	margin-top: 50px;
	margin-left: 10%;
	height:191px;
	width: 275px;
	border:solid 1px black;
	 background:url('http://vignette1.wikia.nocookie.net/pokemon/images/b/b8/001Bulbasaur_Dream.png/revision/latest?cb=20140903033758')
	 no-repeat center;
     /*background-size:cover;*/
     background-size: 100px 100px;
     background-position: top;
}

.dole p {
	margin:auto auto;
}

.fa-leaf{
	color: green;
	margin-top: 4px;
	margin-left:11px;
}

#treci{
	position: relative;
	display:inline-block;
	margin-top: 50px;
	margin-left: 10%;
	height:191px;
	width: 275px;
	border:solid 1px black;
	 background:url('http://vignette1.wikia.nocookie.net/pokemon/images/9/96/004Charmander_OS_anime.png/revision/latest?cb=20140603214902')
	 no-repeat center;
     /*background-size:cover;*/
     background-size: 100px 100px;
     background-position: top;
}

.fa-fire {
	color:orange;
	margin-top: 4px;
	margin-left:13px;
}